<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
      layout:decorator="template1">
<head>
    <meta charset="UTF-8"/>
    <title>Entreprise</title>
</head>
<body>
  <div>
      <table>
          <tr>
              <th>Code</th><th>Nom</th><th>Raison Sociale</th><th>Email</th>
          </tr>
          <tr th:each="e:${listEntreprises}">

              <td th:text="${e.code}"></td>
              <td th:text="${e.nom}"></td>
              <td th:text="${e.raisonSocial}"></td>
              <td th:text="${e.email}"></td>

          </tr>
      </table>
  </div>

</body>
</html>